body {
    background: linear-gradient(#FEC4C0, #FA7879) fixed;
}

main {
    background-color: white;
    margin: o;
    padding-bottom: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: maindrop 1s cubic-bezier(0.25, 0.1, 0.63, 1.84) forwards;
}

@keyframes maindrop {
    0% {
        margin-top: -500px;
    }

    100% {
        margin-top: 0;
    }
}

.container {
    display: flex; 
    justify-content: center;
}

.heading {
    padding-top: 1rem;
    margin-bottom: 0;
    opacity: 0;
    animation: intro-fade 1s forwards;
    animation-delay: 1s;
    font-size: 2.3rem;
    text-align: center;
}

p, li {
    font-family: sans-serif;
}

.completed {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    opacity: 0;
    animation: intro-fade 0.8s forwards;
    animation-delay: 1.2s;
}

.numberDone {
    display: inline;
    text-align: center; 
}

.input-div {
    opacity: 0;
    animation: intro-fade 0.6s forwards;
    animation-delay: 1.4s;
}

@keyframes intro-fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.todo-input {
    height: 1.3rem;
}

.todo-button {
    height: 1.7rem;
}

ul {
    padding-right: 2.5rem;
}

li {
    font-size: 1.4rem;
    list-style: none;
    animation: add-list 0.5s forwards;
    text-align: center;
    padding-bottom: 0.3rem;
    word-wrap: break-word; 
}

@keyframes add-list {
    0% {
        margin-top:2rem;
        opacity: 0;
    }
    
    100% {
        margin-top: 0rem;
        opacity: 1;
    }
}

li:hover {
    cursor: pointer;
}

.line span {
    text-decoration: line-through;
    animation: check-fade 1s forwards;
}

@keyframes check-fade {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.deleteBtn {
    background-color: transparent;
    border: none;
    z-index: 1;
    opacity: 0.5;
 } 

.deleteBtn:hover {
    opacity: 1;
    cursor: pointer;
}

.warning-div {
    text-align: center;
}

.warning-animate {
    padding: 0;
    margin: 0;
    color: red;
    animation: warning 1s forwards;
    font-size: 0.8rem;
}

@keyframes warning {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    40% {
     
        opacity: 0;
    }
    60% {
        opacity: 1
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.clear-container {
    display: none;
}

@media screen and (min-width:768px) {
    body {
        margin: 0px 27% auto 27%;
    }
}
    
@media screen and (min-width:1024px) {
    body {
        margin: 0px 30% auto 30%;
    }
}
    
@media screen and (min-width:1280px) {
    body {
        margin: 0px 33% auto 33%;
    } 
}
    
@media screen and (min-width:1536px) {
    body {
        margin: 0px 36% auto 36%;
    }
} 
    