/* || Elements */

body {
    background: linear-gradient(#FEC4C0, #FA7879) fixed;
    margin: 0;
}

main {
    background-color: white;
    margin: o;
   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: maindrop 1s cubic-bezier(0.25, 0.1, 0.63, 1.84) forwards;
}

h1 {
    padding-top: 1rem;
    margin-bottom: 0;
    opacity: 0;
    animation: intro-fade 1s forwards;
    animation-delay: 1s;
    font-size: 2.3rem;
}

p, li {
    font-family: sans-serif;
}

p {
    display: inline;
    opacity: 0;
    animation: intro-fade 0.8s forwards;
    animation-delay: 1.2s;
}

form {
    opacity: 0;
    animation: intro-fade 0.6s forwards;
    animation-delay: 1.4s;
}

input {
    height: 1.3rem;
}

li {
    font-size: 1.4rem;
    list-style: none;
    animation: add-list 0.5s forwards;
    text-align: center;
}

img { 
    height: 1.4rem;
    border: none;
    z-index: -1;
    position: relative;
    margin-left: 0.5rem;
}


/* || Classes */

.container {
    display: flex; 
    justify-content: center;
}

.todo-button {
    height: 1.7rem;
}

.completed {
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.clear-container {
    display: none;
}
.deleteBtn {
    background-color: transparent;
    border: none;
    z-index: 1;
    position: absolute;
    opacity: 0.5;
 } 


.line span {
    text-decoration: line-through;
    animation: check-fade 1s forwards;
}

.warning-animate {
    padding: 0;
    margin: 0;
    color: red;
    animation: warning 2s forwards;
    font-size: 0.8rem;
 }



 /* || Pseudo Selectors */

li:hover {
    cursor: pointer;
}

.deleteBtn:hover {
    opacity: 1;
    cursor: pointer;
}


/* || Animations */

@keyframes maindrop {
    0% {
        margin-top: -500px;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes intro-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes add-list {
    0% {
        margin-top:2rem;
        opacity: 0;
    }
    100% {
        margin-top: 0rem;
        opacity: 1;
    }
}


@keyframes check-fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes add-list {
    0% {
        margin-top:2rem;
        opacity: 0;
    }
    100% {
        margin-top: 0rem;
        opacity: 1;
    }
}

@keyframes warning {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 1
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* || Media Queries */


@media screen and (min-width:768px) {
    body {
        margin: 0px 20% auto 20%;
        padding: 0 2rem;
    }
}
    
@media screen and (min-width:1024px) {
    body {
        margin: 0px 23% auto 23%;
    }
}
    
@media screen and (min-width:1280px) {
    body {
        margin: 0px 26% auto 26%;
    } 
}
    
@media screen and (min-width:1536px) {
    body {
        margin: 0px 29% auto 29%;
    }
} 
    
     
    

